@import "tailwindcss";

.hero-section-custom-bg-positioning {
    background-image: url('https://res.cloudinary.com/dtcbirvxc/image/upload/v1748379204/santa-hero_axiq2l.jpg');
    background-color: black;
    background-position-x: 50%;
    background-position-y: center;

}


@media screen and (max-width:1000px) {
    .hidden1000 {
        display: none;
    }
    .full1000 {
        width: 100%;
    }
}